@import url("https://fonts.googleapis.com/css2?family=poppins:wght@;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: "poppins", sans-serif;
    border: none;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 70%;
    background: rgba(255, 255, 255, 0.004);
    color: #fff;
    gap: 10px;
    padding: 20px;
}


.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-box input {
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 16px;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}


.input-box input::placeholder {
    color: #fff;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0;
    font-size: 14px;
}

.remember-forgot a {
    color: #ddd;
    text-decoration: none;
}

.register-link a{
    color: white;
}

.register-link a:hover{
    color: transparent;
}

.btn {
    margin: 10px;
    width: 30%;
    height: 30px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: rgb(98, 0, 98);
}

.btn:hover {
    background-color: aqua;








